@{
    ViewData["Title"] = "Home Page";
}

<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <h1 class="display-4">Hello, and Welcome to our Order System</h1>
        <p>
            Welcome to our restaurant's ordering system! Our web application provides a seamless and efficient solution for managing orders, whether it's for delivery or takeout. Designed specifically for our in-person restaurant, our system empowers cashiers to effortlessly create and log orders, ensuring a smooth and streamlined experience for both customers and staff.
        </p>
        <p>
            With our user-friendly interface, cashiers can quickly navigate through the ordering process, selecting items from our extensive menu and customizing them to meet the unique preferences of our valued customers. From appetizers to main courses and desserts, our ordering system offers a comprehensive selection of mouthwatering options, allowing you to effortlessly build orders that cater to every taste.
        </p>
    </div>
</div>
