@model mvc_obj_2.Data.Order

@{
    ViewData["Title"] = "Delete Order";
}

<h1 class="text-center">Order</h1>

<h3 class="text-center">Are you sure you want to delete this?</h3>

<br>

<div>

    <div style="text-align: center;">
        <br>
        <h4><strong>Order No. @Model.Id</strong></h4>
        <hr>
        <div style="display: inline-block; text-align: left;">
            <h6><strong>Name:</strong> @Model.OrderName</h6>
            <h6><strong>Delivery Address:</strong> @Model.OrderAddress</h6>
            <h6><strong>Subtotal:</strong> @Model.Subtotal</h6>
        </div>
    </div>

    <hr>
    <br>
    <form asp-action="Delete">
        <div class="text-center">
            <input type="hidden" asp-for="Id" />
            <a class="btn btn-primary btn-sm" asp-action="Index" style="font-weight: bold;"><i class="fas fa-chevron-left"></i> Back to List</a> |
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" style="font-weight: bold;" />
        </div>
        <br>
    </form>
</div>

