@model IEnumerable<mvc_obj_2.Data.Item>

@{
    ViewData["Title"] = "Inventory Manager";
}

<div class="container">
    <h1 class="text-center">Welcome to the Inventory Manager</h1>
    
    <hr>
    
    <div class="text-center">
        <a class="btn btn-success" asp-action="Create" style="font-weight: bold;">Add Item to Inventory</a>
    </div>
    
@if (Model.Any()) {

    <hr>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Item</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Edit Item</th>
                            <th class="text-center">Item Details</th>
                            <th class="text-center">Delete Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.ItemName)</td>
                                <td class="text-center">$@Html.DisplayFor(modelItem => item.ItemPrice)</td>
                                <td class="text-center">
                                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}

</div>
